[Desktop Entry]
Version=1.0
Type=Application
Name=RPG Maker Launcher
Comment=Lanza juegos de RPG Maker (MV, MZ, XP, VX, VX Ace, 2000/2003, Ren'Py)
Exec=/usr/bin/python3 __BASEDIR__/rpgmaker-launcher-gui.py
Icon=__BASEDIR__/runtimes/icon.png
Terminal=false
Categories=Game;Utility;
StartupNotify=true