[Desktop Entry]
Name=RPG Maker Launcher
Comment=Lanzador de juegos RPG Maker y Ren'Py
Exec=rpgmaker-launcher-tauri
Icon=rpgmaker-launcher
Terminal=false
Type=Application
Categories=Game;
Keywords=rpgmaker;rpg;game;launcher;
StartupWMClass=rpgmaker-launcher-tauri