[Desktop Entry]
Version=1.0
Type=Application
Name=RPG Maker Launcher
Comment=Lanza juegos de RPG Maker (MV, MZ, XP, VX, VX Ace, 2000/2003, Ren'Py)
Exec=__BASEDIR__/rpgmaker-launcher-tauri/target/release/rpgmaker-launcher-tauri
Icon=__BASEDIR__/runtimes/icon.png
Terminal=false
Categories=Game;Utility;
StartupNotify=true